

.section_contacto__container {
    width: 100%;
    height: 350px;
}

.section_contacto__texto {
    display: block;
    width: 100%;
    padding: 80px 15% 50px 15%;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 200px;
    background: #ff6e6167;
}

.footer__div {
    width: 100%;
    height: 100px;
}

.footer__div--1 {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}

.footer__lista {
    display: flex;
}

.footer__item {
    list-style: none;
    margin-right: 50px;
}

.footer__link {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 300;
    transition: color ease .3s;
}

.footer__link:hover {
    color: var(--background-color)
}

.footer__div--2 {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
    font-size:30px;
    color: var(--primary-color);
    font-weight: 200;
}




@media screen and (max-width: 900px) {

    /* PROYECTOS */

    .section_proyectos .section__titulo {
        margin-bottom: 20px;
    }

    .section_proyectos__containerProyectos {
        display: block;
        margin-bottom:0;
    }

    .section_proyectos__proyecto {
        width: 100%;
        height: 175px;
        overflow: hidden;
        margin: auto;
        margin-bottom: 70px;
    }

    .section_proyectos__img {
        width: 100%;
        height: 175px;
        margin: auto;
        font-size: 4.5vw;
    }

    .section_proyectos__div {
        margin: auto;
    }


    /* CONTACTO */

    .section_contacto {
        padding-top: 90px;
        height: fit-content;
    }
    
    .section_contacto__container {
        width: 100%;
        height: fit-content;
        margin-bottom: 40px
    }


    /* FOOTER */

    .footer__item {
        margin-right: 20px;
    }

    .footer__item--last {
        margin-right: 0;
    }
}
