:root {
    --background: #121212;
    --background2: ##1E1E1E;
    --text: #B3B3B3;
    --important: #E0E0E0;
    --acent: #B23A48;
    --link: #3A7CA5;
    --btn: #4CAF50;
    --alert: #FFB74D;
    --primary: #ff6f61;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.clearfix {
    clear: both;
}

/* SCROLL */

::-webkit-scrollbar {
    width: 10px;
    padding: 5px 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c85045;
}

::-webkit-scrollbar-track {
    background-color: #d8d8d8;
    padding: 5px 0;
}


/* HEADER */

.header {
    height: 12vh;
    width: 100vw;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: all ease 1s;
    background-color: #11131dc5;
}

.header__link--contact {
    padding: 5px 15px;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    color: var(--text-color);
    background: var(--primary-color);
}

.header__link--contact:hover {
    background: var(--background-color);
    color: var(--primary-color);
}

.header__icon {
    height: 8vh;
}

.header__btn {
    display: none;
}

main {
    margin-top: 12vh;
}


/* PROYECTOS */

/* .section_proyectos {
    padding-top: 50px;
    height: fit-content;
    padding-bottom: 90px;
    border-bottom: 0.5px solid rgb(202, 202, 202);
}

.section_proyectos__contenedorProyectos {
    width: 65%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.section_proyectos__containerProyectos {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section_proyectos__proyecto {
    height: 250px;
    width: 400px;
    margin-bottom: 5px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 20px var(--primary-color);
}

.section_proyectos__div {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, transparent, #888888a0, #888);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    transition: clip-path ease-in-out .3s ;
    opacity: 0;
    transition: opacity ease-in-out .3s;
    position: absolute;
}

.section_proyectos__proyecto:hover .section_proyectos__div {
    opacity: 1;
}

.section_proyectos__divEnlaces {
    margin-top: 10px;
}

.section_proyectos__links {
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    background: var(--background-color);
    padding: 5px 0;
    width: 90px;
    text-align: center;
    border-radius: 20px;
    color: black;
    transition: all .5s ease;
}

.section_proyectos__links:hover {
    background: var(--primary-color);
    color: var(--background-color);
}

.section_proyectos__img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_proyectos__img--1 {
    font-size: 2vw;
    color: #000;
    font-family: 'Montserrat';
    font-weight: 600;
    text-shadow: 0px 0px 15px var(--text-color);
}

.section_proyectos__img--1 span {
    color: #8B0000;
    text-shadow: 0px 0px 15px #8B0000;
}

.section_proyectos__img--2 {
    font-size: 2vw;
    color: var(--secundary-color);
    text-shadow: 0px 0px 15px #f3c03d;
    font-weight: 600;
}

.section_proyectos__img--3 {
    font-size: 2vw;
    color: #000b3b;
    text-shadow: 0px 0px 15px #00bbd0;
    font-weight: 600;
}

.section_proyectos__img--4 {
    font-size: 2vw;
    color: #003b14;
    text-shadow: 0px 0px 15px #086627;
    font-weight: 600;
} */


/* CONTACTO */

.section_contacto {
    padding-top: 90px;
}

.section_contacto__container {
    width: 100%;
    height: 350px;
}

.section_contacto__texto {
    display: block;
    width: 100%;
    padding: 80px 15% 50px 15%;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.section_contacto__btn, .section_proyectos__btnVerMas {
    width: 250px;
    height: 50px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin: auto;
    margin-top: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: color, background-color ease .3s;
    cursor: pointer;
}

.section_contacto__btn:hover, .section_proyectos__btnVerMas:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}


/* FOOTER */

.footer {
    width: 100%;
    height: 200px;
    background: #ff6e6167;
}

.footer__div {
    width: 100%;
    height: 100px;
}

.footer__div--1 {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}

.footer__lista {
    display: flex;
}

.footer__item {
    list-style: none;
    margin-right: 50px;
}

.footer__link {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 300;
    transition: color ease .3s;
}

.footer__link:hover {
    color: var(--background-color)
}

.footer__div--2 {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
    font-size:30px;
    color: var(--primary-color);
    font-weight: 200;
}




@media screen and (max-width: 900px) {

    /* PROYECTOS */

    .section_proyectos .section__titulo {
        margin-bottom: 20px;
    }

    .section_proyectos__containerProyectos {
        display: block;
        margin-bottom:0;
    }

    .section_proyectos__proyecto {
        width: 100%;
        height: 175px;
        overflow: hidden;
        margin: auto;
        margin-bottom: 70px;
    }

    .section_proyectos__img {
        width: 100%;
        height: 175px;
        margin: auto;
        font-size: 4.5vw;
    }

    .section_proyectos__div {
        margin: auto;
    }


    /* CONTACTO */

    .section_contacto {
        padding-top: 90px;
        height: fit-content;
    }
    
    .section_contacto__container {
        width: 100%;
        height: fit-content;
        margin-bottom: 40px
    }


    /* FOOTER */

    .footer__item {
        margin-right: 20px;
    }

    .footer__item--last {
        margin-right: 0;
    }
}
